body {
  background-color: #29456a; 
  margin: 0;
  padding: 0;
}

.students-header {
  color: #f8f8f8; 
  font-size: 2.5em;
  margin-bottom: 20px;
  text-align: center; 
}

.box {
  color: #333; 
}

button {
  background-color: #4caf50; 
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
}

button.unenroll {
  background-color: #f44336; 
  margin-top: -10px; 
}
