/* Set the background color of the entire page to be light blue */
body {
  background-color: #061322;
  margin: 0;
  padding: 0;
}

/* Set the header font color to be dark blue */
.students-header {
  color: #042c54;
}

/* Set the font color of the data from the JSON file to be the same dark blue */
.box {
  color: #042c54;
}

/* Style for the button to add a new student */
button {
  background-color: #4caf50; /* Green */
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
}

/* Style for the button to unenroll a student */
button.unenroll {
  background-color: #f44336; /* Red */
}
